.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction:column;
}

body {
    background-color:000;
}

.center {
    display:flex;
    justify-content:center;
    vertical-align: center;
}

#google-image{
    margin:auto;
    margin-top:180px;
    margin-bottom: 20px;
}

li {
    display: inline;
    font-size: 13px; 
    margin: 5px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    color:#70757A;
}

li a {
    color: rgb(68, 68, 70);
    text-decoration: none; 
  }

li a:hover {
     text-decoration: underline;
  }

.left{
    float: left;
    padding-left:15px;
}
.right{
    float: right;
    padding: 0px 30px;
}

footer{
    background-color: 	#f4f4f4;
    position:absolute;
    bottom:0;
    width:100%;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 50px;
    border-style:solid;
    border-color:rgb(189, 189, 189);
    padding: 0px, 40px;
    margin-bottom: 20px;
    border-width: thin;
    
}

input:hover{
    box-shadow: 0px 1px 2px 2px rgba(204, 204, 204, 0.6);
    border-color: rgba(204, 204, 204, 0);
}


#mic {
    position: relative;
    top: 7px;
    right:40px;
    color: #a8a4a4;
}

#search{
    position:relative;
    top: 7px;
    left: 40px;
    color: #a8a4a4;
}
.buttons{
    font-size:13px;
    position:relative;
    top: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#gsearch{
    position:relative;
    right:5px;
    background-color:#f4f4f4;
    border-style:none;
    padding: 9px;
    border-radius:3px;
    
}

#feeling{
    position:relative;
    left: 5px;
    background-color:#f4f4f4;
    border-style:none;
    padding: 9px;
    border-radius:3px;
}

#gsearch:hover, #feeling:hover{
    box-shadow: 0px 1px 2px 2px rgba(204, 204, 204, 0.6);
    border-color: rgba(204, 204, 204, 0);
    cursor: pointer;
}

