body {
    background-color: #000;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

li {
    display:inline;
  }


.left {
    float:left;
    justify-content: flex-start;
}

.right{
    float: right;
}


a {
    padding: 8px;
    display:block;
}

#footnavbar {
    background-color: white;
}

